.App {
  text-align: center;
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    .App-list {
      list-style: none;
      margin: 0;
      padding: 0;
      .App-li {
        color: green;
        background-color: grey;
        &:hover {
          color: red;
          background-color: #ccc;
        }
      }
    }
    .App-logo {
      width: 10vmin;
    }
  }
}
